#magic_variables2_hostinfo.j2
This is my full inventory hostname {{ inventory_hostname }} #Fill variable for full inventory hostname
This is my short inventory hostname {{ inventory_hostname_short }} #Fill variable for short inventory hostname
This is my inventory file {{ inventory_file }} #Fill variable for inventory file