## Deployed by Ansible
127.0.0.1       localhost localhost.localdomain localhost4 localhost4.localdomain4
::1             localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.1.1     ender ender.tabernarious.net
10.10.0.1       hive hive.tabernarious.net

10.10.100.1     bigip100 bigip100.tabernarious.net
10.10.101.1     bigip101 bigip101.tabernarious.net
10.10.102.1     bigip102 bigip102.tabernarious.net
10.10.103.1     bigip103 bigip103.tabernarious.net
10.10.104.1     bigip104 bigip104.tabernarious.net
10.10.105.1     bigip105 bigip105.tabernarious.net
10.10.106.1     bigip106 bigip106.tabernarious.net

10.10.0.105     centos2 centos2.tabernarious.net
10.10.0.106     centos3 centos3.tabernarious.net
10.10.0.107     centos4 centos4.tabernarious.net
10.10.0.102     centos7 centos7.tabernarious.net